
@{
    Layout = null;
}

﻿<div class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
                <h2>Bir Seyahat mı planlıyorsunuz?</h2>
                <h4>Hayallerinizi süsleyecek bir tatil mi planlıyorsunuz? Bembeyaz kumsallar, tarihi keşifler ve kültürel hazinelerle dolu bir rota hazırlamak için burada olduğumuzu unutmayın. Varış noktası, aktiviteler veya konaklama seçenekleri hakkında yardıma mı ihtiyacınız var? 🌍✈️🏖️</h4>
            </div>
            <div class="col-lg-4">
                <div class="border-button">
                    <a href="reservation.html">Tur Rotaları</a>
                </div>
            </div>
        </div>
    </div>
</div>

<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p>
                    Copyright © @DateTime.Now.Year Tüm Hakları Saklıdır.
                </p>
            </div>
        </div>
    </div>
</footer>