@model WooxTravel.Entities.Reservation

    @{
        Layout = null;
    }

    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <a href="index.html" class="logo">
                            <img src="/wooxtravel-1.0.0/assets/images/logo.png" alt="">
                        </a>
                        <ul class="nav">
                            <li><a href="//" class="btn btn-info">Rezervasyon</a></li>
                            <li><a href="/Default/Index/" class="btn btn-info">Ana Sayfa</a></li>
                            <li><a href="/Register/Index/" class="btn btn-info">Kayıt Ol</a></li>
                            <li><a href="/login/Index/" class="btn btn-info">Giriş Yap</a></li>
                        </ul>
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                    </nav>
                </div>
            </div>
        </div>
    </header>
