@model WooxTravel.Entities.Category

@{
    ViewBag.Title = "UpdateCategory";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Tablolar</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Tablolar</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Temel Tablolar</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header bg-gray2">
                        <div class="alert alert-info h4">Kategori Düzenleme Sayfası</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            @Html.HiddenFor(x => x.CategoryId)
                            <label>Kategori Ad</label>
                            @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
                            <br />
                            <label>Kategori Durum </label><br />
                            @Html.CheckBoxFor(x => x.CategoryStatus, new { @class = "checkbox-control" })
                            <br />
                            <br />
                            <button class="btn btn-label-success" style="border-radius:30px">Kategoriyi Düzenle</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>