
@{
    ViewBag.Title = "Line";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 50px);">
    <div class="card" style="width: 80%;">
        <div class="card-header bg-gray2">
            <div class="card-title alert alert-info h4">Tur Fiyat Grafiği</div>
        </div>
        <div class="card-body">
            <div class="chart-container">
                <canvas id="lineChart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
            var ctx = document.getElementById("lineChart").getContext("2d");
            var myLineChart = new Chart(ctx, {
                type: "line",
                data: {
                    labels: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.cityInfo)),
                    datasets: [{
                        label: "Tur Fiyatı",
                        data: @Html.Raw(Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.totalDay)),
                        borderColor: "#1d7af3",
                        pointBorderColor:"#fff",
                        pointBackgroundColor: "#1d7af3",
                        pointBorderWidth: 2,
                        pointHoverRadius: 4,
                        pointHoverBorderWidth: 23,
                        pointRadius: 5,
                        backgroundColor: "transparent",
                        fill: true,
                        borderWidth: 2
                    }]
                },
                options: {
                    responsive: true,
                    maintainAspectRatio: false,
                    scales: {
                        y: {
                            beginAtZero: true,
                            ticks: {
                                stepSize: 0
                            }
                        }
                    },
                    legend: {
                        position: "bottom",
                        labels: {
                            padding: 10,
                            fontColor: "#1d7af3"
                        }
                    },
                    tooltips: {
                        bodySpacing: 4,
                        mode: "nearest",
                        intersect: 0,
                        position: "nearest",
                        xPadding: 10,
                        yPadding: 10,
                        caretPadding: 10
                    },
                    layout: {
                        padding: { left: 15, right: 15, top: 15, bottom: 15 }

                    }
                }
            });
</script>

